
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top p-0">
    <!-- Brand -->
    <a class="navbar-brand ml-4 " href="#">
        <div class="font">
            <h3>VEHICLE-CHECK</h3>
        </div>
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->



    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav topnav">
            <li class="nav-item m-2">
                <button class="btn btn-primary py-0" data-toggle="modal" data-target="#exampleModal"><a class="nav-link  text-body" >Register</a></button>
            </li>
            <li class="nav-item m-2">
                <button class="btn btn-primary py-0" data-toggle="modal" data-target="#exampleModal1"><a class="nav-link text-body" >Login</a></button>
            </li>
        </ul>
    </div>
    
</nav>
<!--
<div class="p-3 mb-2 bg-dark text-white">
    <div class="container " >
    
        <div class="row">
            <div   class="p-3 mb-2 bg-white text-dark" >
                <div class="text-center">
                     <h3  class="p-3 mb-2 bg-dark text-white">Reset Password</h3>
                     <h2 ><span class="fas fa-lock"></span></h2>
                </div>
                <h5>Hello,</h5>
                <p>You recently requested to reset your password for your account.Please click the below link to rest your password.</p>
                <div class="text-center">
                    <a routerLink="forgotpassword"  data-target="#ResetPasswordModal"  data-toggle="modal">Password Reset Link</a>
                </div>
                <p>Thanks!</p>
            </div>
        </div>
    </div>  
</div>-->
<router-outlet></router-outlet>







